body{
  background-color:rgb(238, 237, 237);}

.App{
  text-align: center;
  height: 100%;
}
.header{
  margin-left: -5px;
  background-color:rgb(11, 100, 11);
  color: white;
  position: absolute;
  display: inline-block;
  width: 100%;
  }
  .header ul li{
    display:inline-grid;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    margin-left: 10px;
  }
  .home{
    display: flex;
    flex-direction: column;
  }
.selectCourse{
  text-align: left;
  border: 1px solid gray;
  margin-left: 10px;
  margin-top: 20px;
  width: 15%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
}
.selectCourse p{
  color: grey;
  text-align: left;
  margin-left: 2px;
}
.course{
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  width: 80px;
  margin-left: 20px;
 color: rgb(31, 98, 121);
}
.active-btn-link{
  background-color: rgb(31, 98, 121);
  color: white;
}
.java-quis{
  display:flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-left: 10px;

}
.inputData{
  display: inline-block;
  border: 2px solid grey;
  width: 250px;
  margin-left: 10px;
  background-color: white;
}
.inputs{
  display:flex;
  border: 1px solid grey;
  padding: 20px;
}
.wrapper{
  display: flex;
  margin-top: 100px;
}
.content{
  margin-left: 100px;
}
.QuisSide{
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 20px 20px 20px 20px;
  position:fixed;
  flex-basis: 50%;
  width: 30%;
  margin-left: -50px;
  background-color: white;
}
.name1{
   border: 1px solid grey;
   width: 90%;
   height: 30%;
   margin: 10px;
   position: relative;
   border-radius: 20px 20px 20px 20px;
}
.Pageno button{
  background-color:white;
  color: rgb(31, 98, 121);
  padding: 7px;
  border: 1px solid rgb(31, 98, 121);;
}
/* .Pageno button{
  background-color:white;
  color: rgb(31, 98, 121);
  padding: 7px;
  border: 1px solid rgb(31, 98, 121);;
} */
.answers{
  border: 1px solid grey;
  width: 400px;
  height: 400px;
  margin-left: 550px;
  border-radius: 20px 20px 20px 20px;
  position: fixed;
  background-color: white;
}
.submit button{
  margin-left: 100px;
  color: white;
  background-color: yellowgreen;
  margin: 10px;
}
.level1{
  background-color: bisque;
}